.box {
    justify-self: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    width: 90%;
    
    display: flex;
    column-gap: 5px;
}

.color-bar--workspace-show {
    padding: 20px;
    border-radius: 8px 0 0 8px;
    background-color: #FF819F;
}


.workspace-name {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    width: 100%;
}

.color-orange {
    background-color: #FFA879;
}

.color-orangeyellow {
    background-color: #FFC163;
}

.color-green {
    background-color: #B1EB30;
}

.color-pink {
    background-color: #FFC7F9;
}

.color-blue {
    background-color: #3AB8FF;
}

.color-purple {
    background-color: #D289FF;
}

.color-brown {
    background-color: #DAA556;
}